.fundoo {
    background-image: linear-gradient(180deg, #e43f3f, #bbbbbb);
}

h4 {
    color: #941510;
}

.display-2 {
    font-family: 'Jost', sans-serif;
    font-size: 3rem;
    line-height: 1.1;
}